#cloud-config
hostname: {{ vm_name }}
manage_etc_hosts: true
user: {{ deploy_user | default('ansible') }}

# Add your public key here so Ansible can SSH in
ssh_authorized_keys:
  - {{ ssh_public_key }}

# Decide if sudo prompts for a password during Ansible tasks. 
# Choose configuration based on if "-ask-become-pass" is used
sudo: ALL=(ALL) NOPASSWD:ALL
# sudo ALL=(ALL) ALL

# Preliminary package updates
package_update: true
packages:
  - python3
  - qemu-guest-agent

runcmd:
  - [ systemctl, start, qemu-guest-agent ]
